@font-face {
    font-family: 'Iranian Sans';
    src: url('IranianSans.eot');
    src: url('IranianSans.eot?#iefix') format('embedded-opentype'),
    url('IranianSans.woff2') format('woff2'),
    url('IranianSans.woff') format('woff'),
    url('IranianSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

